services:
  postgres:
    image: postgres:latest

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rb@dev.123
      POSTGRES_DB: rbdatabase

    ports:
      - '5432:5432'

    volumes:
      - postgres_data:/var/lib/postgresql/data

    restart: always

volumes:
  postgres_data:
